/*全局页面样式*/
body{
	margin: 0;
	background-color: #eeeeee;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
	padding-left: 0;
}

.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

/*左侧博客园个人信息样式*/
.blog-left{
	float: left;
	width: 20%;
	height: 100%;
	background-color: #4e4e4e;
	position: fixed;

}

.blog-head{
	width: 180px;
	height: 180px;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid white;
	
}

.blog-head img{
	width: 100%;
}

.blog-name,.blog-info{
	text-align: center;
	font-size: 18px;
	color:darkgray;
}

.blog-contact ,.blog-content {
	text-align: center;
	font-size: 22px;
	padding-bottom: 50px;
	/*color: red;*/
	/*padding: 25px 0;*/
}


.blog-contact ul li a , .blog-content ul li a{
	color: darkgray;
	padding: 25rpx 0;
}

.blog-contact a:hover , .blog-content a:hover{
	color: white;
}



/*右侧博客园内容样式设置*/
.blog-right{
	float: right;
	width: 80%;
}

.article{
	background-color: white;
	margin: 20px 40px 10px 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.article-title{
	border-left: 5px solid red;
}

.article-title .title{
	font-size: 26px;
	padding-left: 26px;
	/*text-indent: 26px;     首行缩进*/
	
}

.article-title .time{
	float: right;
	font-size: 12px;
	padding: 10px;
}

.article-body{
	padding-top: 15px;
	padding-left: 31px;
	font-size: 18px;
	/*border-bottom: 1px solid black;     设置底部的一条边框线 */
}

.article-bottom{
	font-size: 16px;
	/*上 左右 下*/
	padding: 5px 31px 10px;
}

